* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 100%;
    font-family: ‘Whitney’, sans-serif;
}

.clearfix::after {
    content: '';
    display: table;
    clear:both;
}

.width-20 {
    width: 20%;
}

.width-40 {
    width: 40%;
}

.width-60 {
    width: 60%;
}

.float-l {
    float: left;
}

.float-r {
    float: right;
}

/* header style */
.header {
    width: 100%;
    background-image: url(../img/jumbo.png);
    background-size: cover;
    background-position: center;
}

.menu {
    height: 8vh;
    line-height: 8vh;
    width: 80%;
    font-size: 0.7em;
    margin: 0 auto;
    text-align: center;
}

.menu .logo {
    max-width: 100%;
    vertical-align: middle;
}

/* menu inline */
.menu .menu-inline {
    list-style-type: none;
}

.menu .menu-inline li {
    display: inline-block;
}

.menu-inline li a {
    text-decoration: none;
    color: white;
    margin: 0 1em;
}

.menu-inline li a:hover {
    text-decoration: underline;
}

/* button */

a.btn {
    display: inline-block;
    text-decoration: none;
    background-color: white;
    color: black;
    line-height: 2em;
    padding: 0 1em;
    border-radius: 25px;
}

a.btn:hover,
a.btn:active,
a.btn:focus {
    color: rgb(0, 119, 255);
}

/* jumbotron style */

.head-jumbo {
    width: 50%;
    margin: 0 auto;
    padding: 3em 0;
    text-align: center;
    color: white;
}

h1.head-jumbo-title {
    font-size: 2em;
    margin: 1em 0;
}

p.head-jumbo-content {
    font-size: 0.8em;
    margin: 1em 0;
}

a.btn.big {
    font-size: 0.8em;
    line-height: 2.5em;
}

a.btn.big.dark {
    background-color: #23272A;
    color: white;
}

.head-jumbo-btn .btn:first-child {
    margin-right: 1em;
}

a.btn.big.dark:hover,
a.btn.big.dark:active,
a.btn.big.dark:focus {
    color: rgb(0, 119, 255);
}

/* main style */

.main-section-1 {
    width: 100%;
}

.sec-center {
    width: 70%;
    margin: 3em auto;
}

.col img {
    width: 100%;
    object-fit:cover;
}

.col.width-40{
    padding-left: 4em;
}
 .col h2 {
    font-size:1.5em;
    margin-bottom: 0.8em;
 }

 .col p {
     font-size: 0.8em;
 }
